<div class="uk-card" id="digitalDropletsContainer" style="visibility : hidden;">
	<div class="uk-card uk-card-default">
		<div class="uk-card-header">
				<h3 class="uk-card-title uk-align-left">Droplet Info</h3> 
				<div class="uk-align-right">
					<span uk-icon="close" id="closeDroplets" style="margin-right: 3px;"/>
					<span uk-icon="info" uk-tooltip="See a list of all your owned droplets"/>
				</div>
		</div>
		<div class="uk-card-body" >
			<div id="digitalOceanDroplets">

			</div>
		</div>
		{# <div class="uk-card-footer">
			<button id="positionDetection" class="uk-button uk-button-default">Detect Position</button> <a href="#spotifyModal" uk-toggle uk-icon="settings"></a>
		</div> #}
	</div>
</div>

<script>
	const DigitalOceanToken = "{{user.digitalOceanToken}}"
	let dropletTimerReturn;
	let dropletTimerValue = 500000;
	
	const getDroplets = async() => {
		document.getElementById("digitalOceanDroplets").innerHTML = '<div uk-spinner="ratio: 3"></div>'
		let res = await fetch("https://api.digitalocean.com/v2/droplets?page=1", {
			headers: {
				"Authorization": `Bearer ${DigitalOceanToken}` 
			}
		})
		if (res.ok && res.status === 200) {
			let json = await res.json()
			document.getElementById("digitalOceanDroplets").innerHTML = ""
			let ul = document.createElement("ul")
			ul.setAttribute("class", "uk-list")
			json.droplets.forEach(d => {
				let li = document.createElement("li")
				li.appendChild(document.createTextNode(`${d.name} ${d.image.distribution || ""}`))
				ul.appendChild(li)
			})
			document.getElementById("digitalOceanDroplets").appendChild(ul)
			console.log(json)
		}
	}


	document.getElementById("digitalDroplets").onclick = () => {
		document.getElementById("digitalDropletsContainer").style.visibility = "visible"
		getDroplets()
	}
	document.getElementById("closeDroplets").onclick = () => {
		document.getElementById("digitalDropletsContainer").style.visibility = "hidden"
	}

</script>