<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Dashboard</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/css/uikit.min.css" />
	<link rel="stylesheet" href="/style.css">

	{%block head%}{%endblock%}
</head>

<body style="background-size: cover; background-blend-mode: overlay; min-height: 100vh">
	<div id="page-container">
		<div id="page-wrap">
	<header>
	<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky" style="z-index: 1000;">
		<nav class="uk-navbar-container" uk-navbar id="navId" style="background-color: lightblue;">
			<div class="uk-navbar-left">
					<a href="#offcanvas-menu" uk-toggle uk-icon="icon: menu; ratio:2" style="color: white;"></a>
			</div>
			<div class="uk-navbar-center">
				<a href="" class="uk-navbar-item uk-logo" style="color: white;">DASHBOARD</a>
			</div>
		</nav>
	</div>
	</header>
	<div id="offcanvas-menu" uk-offcanvas>
			<div class="uk-offcanvas-bar">
				<ul class="uk-nav uk-nav-default">
				    <li class="uk-nav-header">Public Widgets</li>
					<li id="weatherShower"><a>Weather</a></li>
					<li id="unsplashShower"><a>Unsplash Background Selector</a></li>
					<li class="uk-nav-header">Widgets with authorization</li>
					{% if user.spotifyToken %}
					<li class="uk-parent">
						<a href="/auth/spotify">Spotify</a>
						<ul class="uk-nav-sub">
							<li id="spotifyDeviceShower">Spotify Devices Info</li>
							<li id="spotifyJukeboxShower">Spotify Jukebox</li>
						</ul>
					</li>
					{% else %}
					<li><a href="/auth/spotify">Spotify</a></li>
					{% endif %}
					{%if user.digitalOceanToken%}
					<li class="uk-parent">
						<a href="/auth/digitalocean">Digital Ocean</a>
						<ul class="uk-nav-sub">
							<li id="digitalDroplets">Droplets</li>
							<li id="digitalDomains">Domains</li>
						</ul>
					</li>
					{%else%}
					<li><a href="/auth/digitalocean">Digital Ocean</a></li>
					{%endif%}
				</ul>
			</div>
		</div>
		<div id="alertZone"></div>
	{% if errors %}
		{% for error in errors %}
			<div class="uk-alert-danger" uk-alert>
				    <a class="uk-alert-close" uk-close></a>
				{{error}}
			</div>
		{% endfor %}
	{% endif %}
	<div class="uk-container" id="container">
		<div style="margin-top: 5%; padding-top: 5%;">
			{% block body %}

			{% endblock %}
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit-icons.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script>
			window.addEventListener("offline", function(e) {
				alert("offline");
			  }, false);
			  
			  window.addEventListener("online", function(e) {
				alert("online");
			  }, false);
	</script>
	{% block js %}
	{% endblock %}
		</div>
	<footer id="footer" >
		<p>Made with 💜 and 🍺 by Matteo Gassend and Vincent Ferrard</p>
	</footer>
	</div>
</body>

</html>