{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/style.css">
{% endblock %}

{% block body %}
	<div class="uk-grid uk-text-center" uk-grid>
		{% include "widgets/weather/index.html" %}
		{% include "widgets/unsplash/index.html" %}
		{%if user.spotifyToken%}{% include "widgets/spotify/index.html" %}{%endif%}
	</div>
{% endblock %}

{% block js %}
<script>

	$( function() {
		var bgImage = localStorage.getItem("backgroundImage")
		if (bgImage) {
			document.body.style.backgroundImage = `url(${bgImage}), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5))`
			document.getElementById("footer").style.color = "white"
			document.getElementById("navId").className += " uk-navbar-transparent"
			document.getElementById("navId").style.backgroundColor = ""

		}
		$("#weatherContainer").draggable()
		$("#backgroundImageContainer").draggable()
		{%if user.spotifyToken%} $("#spotifyContainer").draggable() {%endif%}
	})
</script>
{% endblock %}