<div class="uk-card" id="backgroundImageContainer">
	<div class="uk-card uk-card-default">
		<div class="uk-card-header">
				<h3 class="uk-card-title uk-align-left">Unsplash Image Picker</h3>
				<div class="uk-align-right">
					<span uk-icon="close" id="closeUnsplash" />
					<span uk-icon="info" uk-tooltip="Search and pick an image for the page's background" />
				</div>
		</div>
		<div class="uk-card-body" id="UnsplashImagesContainer">
		</div>
		<div class="uk-card-footer">
			<input type="text" class="uk-input" id="UnsplashImageSearchValue">
			<button id="searchImageUnsplash" class="uk-button uk-button-default">Search Image</button>
		</div>
	</div>
</div>

<script>
		document.getElementById("unsplashShower").onclick = (ev) => {
			document.getElementById("backgroundImageContainer").style.visibility = "visible"
		}
	document.getElementById("closeUnsplash").onclick = (ev) => {
		document.getElementById("backgroundImageContainer").style.visibility = "hidden"
	}
	var images = []
	function setBgImage(image) {
		console.log(image)
		document.body.style.backgroundImage = `url(${image.urls.full}), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5))`
		document.getElementById("footer").style.color = "white"
		localStorage.setItem("backgroundImage", image.urls.full)
	}



	document.getElementById("searchImageUnsplash").onclick = (ev) => {
		if (document.getElementById("UnsplashImageSearchValue").value === "") {
			alert("Please input a value to search for")
		} else {
			document.getElementById("UnsplashImagesContainer").innerHTML = '<div uk-spinner="ratio: 3"></div>'
			fetch(`https://api.unsplash.com/search/photos/?page=1&query=${document.getElementById('UnsplashImageSearchValue').value}&client_id=4bd8ce460eb605911589107421a19f85dd0d24ef6ec5962daab2848a16cdfe9b`).then((res) => {
				res.json().then((data) => {
					let photos = data.results.slice(0, 3)
					images = photos
					let PhotosContainer = `<div uk-grid >`
					photos.forEach((p, index) => {
						PhotosContainer += `<div>\
							<div class="uk-inline uk-dark uk-width-medium" id="unsplash${index}">\
								<div class="uk-inline-clip uk-transition-toggle">\
									<img src=${p.urls.regular} class="uk-transition-scale-up uk-transition-opaque"/>\
								</div>\
								<div class="uk-position-center">\
									<span uk-overlay-icon></span>\
								</div>\
							</div>\
						</div>`
					})
					PhotosContainer += '</div>'
					document.getElementById("UnsplashImagesContainer").innerHTML = PhotosContainer
					document.getElementById("unsplash0").onclick = (ev) => {
						setBgImage(images[0])
					}
					document.getElementById("unsplash1").onclick = (ev) => {
						setBgImage(images[1])
					}
					document.getElementById("unsplash2").onclick = (ev) => {
						setBgImage(images[2])
					}
					console.log(data)
				})
			})
		}

	}
</script>